
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Dancing+Script:wght@400;700&family=Great+Vibes&family=Griffy&family=Lobster&family=Marck+Script&family=Open+Sans:ital,wght@1,300&family=Pacifico&family=Permanent+Marker&family=Poppins:ital,wght@0,400;1,300;1,400&display=swap');
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 100px auto;
    width: 150px;
    height: 150px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: small;
    font-size: 15px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .heading{
    color: blueviolet;
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
    font-family: Great Vibes;
  }
  body
  {
    background-image: url(https://i.ytimg.com/vi/_jhUK6NSYVM/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .headerimage {
    margin-top: 0px;
   
    text-align: center;
    margin: 20px;
  }
  
  .headerimage img {
    
    max-width: 100%; /* Ensure the image scales down to fit its container */
    height: auto; /* Maintain the image's aspect ratio */
    display: block; /* Remove extra spacing below inline images */
    margin: 0 auto; /* Center the image horizontally */
  }
  


  .heading {
    margin-top: 100px;
    background: fixed;
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 190px; /* Default font size for larger screens */
  
    /* Media query for small screens */
    @media (max-width: 768px) {
      font-size: 50px; /* Adjust font size for small screens */
    }
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  
  .complete{
    margin-top:20px;
  }
  p{
    margin-top: 100px;
    font-family: Dancing Script;
    color: #CAB8A6;
    font-size: 1.5rem;
  }

